.App {
  color: #61dafb;

}

a {
  color: #61dafb !important;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #282c34;
}

.card, .jumbotron {
  background-color: rgba(0,0,0, 0.2);
  box-shadow: 4px 4px 20px 2px #111;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: rgba(0,0,0, 0.2) !important;
}

.card-text {
  color: #fff;
}

.links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fab {
  font-size: 3rem !important;
}

.list {
  font-size: 5em !important;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}